<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data labeller for my project">
    <meta name="author" content="Fayimora Femi-Balogun">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= title %></a>
        </div>
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Thanks a lot for helping!</h1>
        <p>
          The instruction are really simple.
          <ul>
            <li>Each row in the table contains a tweet. Read the tweet!</li>
            <li>Determine if the tweet is relevent or irrelevant. A relevant tweet is one that is
            talking about <a href="http://apple.com/uk">Apple Inc.</a> It might be about the
            iPhone, iPad, MacBook .. anything Apple!</li>
            <li>Select relevant or irrelevant from the options for that tweet and move on to the
            next one</li>
            <li>When you are done, there is a submit button at the end of the page. Click it!</li>
          </ul>
        </p>
      </div>

    </div> <!-- /container -->
  </body>
</html>


