<% layout('layout') -%>
<div class="jumbotron">
  <h1>THANKS!!!</h1>
  <p>
    Thanks a lot for your time. I really appreciate it. Click the button below to do some more :)
  </p>
  <a href="/" class="btn btn-primary btn-lg">Submit</a>
</div>

